In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import kmeansplusplus as k
sns.set_theme(style='darkgrid')

In [3]:
data = pd.read_csv("data/data.csv")
#sns.scatterplot(x=data[:, 0], y=data[:, 1])

In [17]:
data

,age,hypertension,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status
0,0.019213,0,1,0,0.027722,0.017447,0.022243
1,0.017492,0,0,1,0.024512,0.000000,0.000000
2,0.022941,0,1,1,0.012840,0.015492,0.000000
3,0.014051,0,0,0,0.020757,0.016398,0.026692
4,0.022654,1,0,1,0.021107,0.011440,0.000000
...,...,...,...,...,...,...,...
5105,0.022941,1,0,0,0.010152,0.000000,0.000000
5106,0.023228,0,0,0,0.015177,0.019067,0.000000
5107,0.010037,0,0,1,0.010060,0.014587,0.000000
5108,0.014625,0,0,1,0.020158,0.012203,0.022243
5109,0.012618,0,0,0,0.010338,0.012489,0.000000

In [15]:
data = data.drop(['id','gender','ever_married','work_type','stroke'],axis=1)

In [16]:
data.to_csv("data/data.csv")